.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.auth-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.custom-navbar {
  background-color: #ffc107;
}

body.dark {
  background-color: #121212;
  color: white;
}

body.dark .card {
  background-color: #1e1e1e;
}

.card {
  border-radius: 10px;
}

table {
  background: white;
}

body.dark table {
  background: #1e1e1e;
}